@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body, html {
    margin: 0;
    cursor: none; /* Hide the real cursor */
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono';
    color: white; /* Ensure the text is visible on the black background */
}

h3 {
    position: absolute;
    top: calc(50% - 45px - 40px); /* Adjusted position to be above the circle */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
}

h5 {
    position: absolute;
    top: calc(50% + 95px); /* Position it below the bar */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px; /* Additional margin for spacing */
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#blank-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px; /* Adjusted size */
    height: 45px; /* Adjusted size */
    margin-top: -22.5px; /* half of height */
    margin-left: -22.5px; /* half of width */
    border: 5px solid white;
    border-radius: 50%;
}

#bar {
    position: absolute;
    top: calc(50% + 75px); /* Adjusted position */
    left: 50%;
    height: 20px;
    background-color: white;
    transform: translateX(-50%);
    transition: width 0.1s linear; /* Smooth transition for width */
}

#cursor {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.05s, top 0.05s; /* Add transition for left and top properties */
}

#cursor.teleporting {
    transition: left 0.05s, top 0.05s; /* Faster transition */
}

#jumpscare-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 9999;
}

#jumpscare-image {
    max-width: 100%;
    max-height: 100%;
    animation: zoom-in 0.5s forwards; /* Faster zoom-in animation */
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(7);
    }
}